@model IEnumerable<Domain.Order>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1 class="h1">All orders</h1>
    @foreach (var order in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Order number: @order.Id</h5>
                <h6 class="card-subtitle mb-2 text-muted">Customer: @order.User.Email</h6>
                <p class="card-text">Total price: @(order.OrderItems.Sum(i => i.MovieTicket.Price))</p>
            </div>
            <div class="card-footer">
                
            </div>
        </div>
        
    }
</div>