@model Domain.DTO.UsernamesDto
@{
    ViewBag.Title = "Admin Panel";
}
<div class="container">
    <ol class="list-group list-group-numbered">
        @foreach (var item in Model.UserRole)
        {
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div>
                    <p class="font-weight-bold me-2">@item.Key</p>    
                    <p>Status: @item.Value</p>
                </div>
                <div>
                    <form asp-controller="Admin" asp-action="MakeAdmin" asp-route-username="@item.Key" method="post">
                        <button type="submit" class="btn btn-primary">Make admin</button>
                    </form>
                    <form asp-controller="Admin" asp-action="RemoveAdmin" asp-route-username="@item.Key" method="post">
                        <button type="submit" class="btn btn-danger">Make not admin</button>
                    </form>
                </div>
            </li>
        }
    </ol>
</div>